.footer {
  padding: 2rem 10%;
  margin-top: 10rem;
  border-top: 1px solid #171f38;
}

.credit h3 {
  font-size: 2.3rem;
  font-weight: 500;
  color: whitesmoke;
}

.credit span {
  color: var(--green);
}

.copy {
  text-align: center;
  margin-top: 3rem;
}

.copy p {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 300;
}

.copy span {
  color: var(--green);
  font-weight: 500;
  font-style: italic;
}

@media (max-width: 850px) {
  .credit {
    display: none;
  }
}
