.about {
  padding-top: 8rem;
}

.box_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  place-items: center;
}

.content h4 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.content h3 {
  color: var(--text-color);
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.content p {
  font-size: 1.7rem;
  color: var(--text-color);
  width: 55rem;
  line-height: 30px;
  margin-bottom: 1rem;
}

.content h4 {
  color: var(--text-color);
  text-decoration: underline;
}

.content h4 span {
  color: var(--green);
}

.icon {
  display: flex;
  align-items: left;
  gap: 5rem;
  margin-bottom: 3rem;
}

.box h5 {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: lighter;
  margin-bottom: 1rem;
}

.about_icon i {
  margin-right: 10px;
  color: var(--green);
}

.btn_primary {
  background: #171f38;
  padding: 7px 25px;
  border: 1px solid var(--green);
  border-radius: 5px;
  cursor: pointer;
}

.btn_primary:hover {
  border: 1px solid var(--text-color);
}

.btn_primary a {
  color: var(--green);
  font-size: 1.7rem;
  background: transparent;
}

.btn_secondary {
  background: transparent;
  padding: 7px 25px;
  text-decoration: underline;
}

.btn_secondary a {
  font-size: 1.7rem;
  color: var(--green);
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px;
  background: #171f38;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 280px;
}

.item img {
  width: 100%;
  border-radius: 5px;
}

/*============ mobile ============ */

@media (max-width: 850px) {
  .box_container {
    grid-template-columns: 1fr;
  }

  .content p {
    font-size: 1.8rem;
    width: 60rem;
  }
}

@media (max-width: 600px) {
  .content p {
    font-size: 2rem;
    width: 95%;
  }

  .image {
    margin-right: 30px;
    width: 200px;
    gap: 0;
    display: none;
  }
}
