.form {
  width: 100%;
}
.form_group input,
.form_group textarea {
  width: 100%;
  background: #171f38;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form_group textarea {
  height: 25rem;
  resize: none;
}

.form_group input::placeholder,
.form_group textarea::placeholder {
  font-size: 1.5rem;
  color: #fff;
}

.btn_primary {
  background: #171f38;
  border-radius: 5px;
  color: var(--text-color);
  padding: 7px 25px;
  border: 1px solid var(--green);
  border-radius: 5px;
  cursor: pointer;
}

.form button {
  color: var(--green);
  font-size: 1.7rem;
}

.btn_primary:hover {
  border: 1px solid var(--text-color);
}
