.testimonials {
  padding-top: 7rem;
}

.testimony {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.swiper_slide {
  width: 30%;
  background: #152b3d;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.swiper_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
.text_lead {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.text {
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem 1rem;
  color: #f5f5f5;
}

.divide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.icons i {
  color: var(--green);
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .swiper_slide {
    width: 60%;
  }

  .text_lead {
    font-size: 2.5rem;
  }

  .text {
    text-align: center;
    font-size: 2rem;
    line-height: 1.6;
  }
}

@media (max-width: 500px) {
  .swiper_slide {
    width: 100%;
  }
}
